# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

config.h
config.h.in
config.log
config.status
configure
default.action
privoxy
GNUmakefile
autom4te.cache/
doc/source/ldp.dsl

project.xcworkspace/
xcuserdata/

*.aps
*.opensdf
*.sdf
*.suo
*.vcxproj.user
ipch/
windows/Debug
windows/Release
